---
name: Build Docker Image
on:
  workflow_call:
    inputs:
      ecr_region:
        type: string
        default: "eu-central-1"
        required: false
      ecr_reposiroty_name:
        type: string
        default: ${{ github.event.repository.name }}
        required: false
      build_images:
        type: string
        required: true
        default: |-
        [
           {
             "container": "image",
             "docker_file": "./Dockerfile",
             "docker_context": "./",
             "runner_type": "xlarge"
           }
        ]
      pr_open:
        type: boolean
        default: true
        required: false
      pr_repos:
        type: string
        default: "k8s"
        required: false
      pr_command:
        type: string
        default: "yq e '(.spec.source.helm.parameters[] | select(.name == \"image.tag\")).value = env(IMAGE_TAG)' -i 'kustomize/argocd/apps/${{ github.event.repository.name }}.yaml'"
        required: false
    secrets:
      gh_token:
        required: true

concurrency:
  group: ${{ github.event.repository.name }}-build-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build:
    name: Build ${{ matrix.container }}
    runs-on: ["self-hosted", "${{ matrix.runner_type }}", "prod"]
    outputs:
      date: ${{ steps.github-commit-details.outputs.date }}
      sha_short: ${{ steps.github-commit-details.outputs.sha_short }}
      branch: ${{ steps.github-commit-details.outputs.branch }}
      contributor: ${{ steps.github-commit-details.outputs.contributor }}
    strategy:
      matrix:
        include: ${{ fromJSON(inputs.build_images) }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
        timeout-minutes: 1

      - name: Get commit details
        id: github-commit-details
        run: |
          echo "::set-output name=date::$(date -d '${{ github.event.head_commit.timestamp }}' +'%y.%m.%d%H%M')"
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
          echo "::set-output name=branch::$(echo ${{ github.head_ref }} | sed -e 's/\//_/g' -e 's/-/_/g' -e 's/./\L&/g')"
          echo "::set-output name=contributor::$(git log -1 --pretty=format:'%an' |  tr -d '\n')"
        timeout-minutes: 1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        timeout-minutes: 1

      - name: Login to Amazon ECR
        id: login-ecr
        env:
          AWS_REGION: ${{ inputs.ecr_region }}
        timeout-minutes: 1
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag and push image
        uses: docker/build-push-action@v2
        timeout-minutes: 30
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY_NAME: ${{ inputs.ecr_reposiroty_name }}/${{ matrix.container }}
          IMAGE_TAG: ${{ steps.github-commit-details.outputs.date }}-${{ steps.github-commit-details.outputs.sha_short }}
          DOCKER_BUILDKIT: 1
          BUILDKIT_PROGRESS: plain
        with:
          context: ${{ matrix.docker_context }}
          file: ${{ matrix.docker_file }}
          push: true
          build-args: |
            BUILD_NUMBER=${{ env.IMAGE_TAG }}
          tags: ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY_NAME }}:${{ env.IMAGE_TAG }}
          labels: |
            app.version=${{ env.IMAGE_TAG }}
            description=Restream ${{ env.ECR_REPOSITORY_NAME }} service
            git.branch=${{ steps.github-commit-details.outputs.branch }}
            git.commit=${{ steps.github-commit-details.outputs.sha_short }}
            git.contributor=${{ steps.github-commit-details.outputs.contributor }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Tag latest for master branch
        uses: docker/build-push-action@v2
        if: github.ref == 'refs/heads/master'
        timeout-minutes: 30
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY_NAME: ${{ inputs.ecr_reposiroty_name }}/${{ matrix.container }}
          IMAGE_TAG: ${{ steps.github-commit-details.outputs.date }}-${{ steps.github-commit-details.outputs.sha_short }}
          DOCKER_BUILDKIT: 1
          BUILDKIT_PROGRESS: plain
        with:
          context: ${{ matrix.docker_context }}
          file: ${{ matrix.docker_file }}
          push: true
          build-args: |
            BUILD_NUMBER=${{ env.IMAGE_TAG }}
          tags: ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY_NAME }}:latest
          labels: |
            app.version=${{ env.IMAGE_TAG }}
            description=Restream ${{ env.ECR_REPOSITORY_NAME }} service
            git.branch=${{ steps.github-commit-details.outputs.branch }}
            git.commit=${{ steps.github-commit-details.outputs.sha_short }}
            git.contributor=${{ steps.github-commit-details.outputs.contributor }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  results:
    name: Output build results
    needs: [build]
    runs-on: ["self-hosted", "xsmall", "prod"]
    steps:
      - name: Create git commits
        if: inputs.pr_open # github.ref == 'refs/heads/master' &&
        timeout-minutes: 1
        env:
          IMAGE_TAG: ${{ needs.build.outputs.date }}-${{ needs.build.outputs.sha_short }}
          SERVICE: ${{ github.event.repository.name }}
          GIT_TOKEN: ${{ secrets.gh_token }}
        run: |-
          git clone "https://$GIT_TOKEN@github.com/restreamio/${{ inputs.pr_repos }}.git"
          cd ${{ inputs.pr_repos }}
          ${{ inputs.pr_command }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        if: inputs.pr_open # github.ref == 'refs/heads/master' &&
        timeout-minutes: 1
        env:
          IMAGE_TAG: ${{ needs.build.outputs.date }}-${{ needs.build.outputs.sha_short }}
          SERVICE: ${{ github.event.repository.name }}
          AUTHOR_NAME: restream-ci-bot
        with:
          branch: "bump-${{ env.SERVICE }}"
          title: "bump: ${{ env.SERVICE }}"
          body: |-
            author: [${{ github.event.head_commit.author.name }}](https://github.com/${{ github.event.head_commit.author.username }})
            repos: [${{ github.event.repository.full_name }}](${{ github.event.repository.html_url }})
            commit: [link](${{ github.event.head_commit.url }})
            message: ${{ github.event.head_commit.message }}
          commit-message: "bump: ${{ env.SERVICE }} to ${{ env.IMAGE_TAG }}"
          committer: GitHub <noreply@github.com>
          author: restream-ci-bot <restream-ci-bot@users.noreply.github.com>
          delete-branch: true
          path: ${{ inputs.pr_repos }}
          token: ${{ secrets.gh_token }}

      - name: Leave comment with created image
        if: github.ref == 'refs/heads/master'
        uses: restreamio/github-action-commit-comment@latest
        timeout-minutes: 1
        env:
          IMAGE_TAG: ${{ needs.build.outputs.date }}-${{ needs.build.outputs.sha_short }}
          SERVICE: ${{ github.event.repository.name }}
        with:
          body: |
            Image has been built: `${{ env.IMAGE_TAG }}`

      - name: Print image tag in status check summary
        uses: restreamio/github-status-action@v1.1.6
        timeout-minutes: 1
        env:
          IMAGE_TAG: ${{ needs.build.outputs.date }}-${{ needs.build.outputs.sha_short }}
        with:
          authToken: ${{ secrets.GITHUB_TOKEN }}
          context: "${{ github.workflow }} / CI / Image tag"
          description: "${{ env.IMAGE_TAG }}"
          state: "success"
          sha: ${{github.event.pull_request.head.sha || github.sha}}
