---
name: "Yaml linter"

on: push

jobs:
  linter:
    name: "Linter"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        timeout-minutes: 1

      - name: Run yamllint
        uses: ibiqlik/action-yamllint@v3
        timeout-minutes: 1
        with:
          file_or_dir: ./.github/workflows/*.yaml
          config_file: .yamllint.yaml
